*{
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    font-family: 'VT323', monospace;
}

.char-creation-container{
    border: 3px solid black;
    width: 50rem;
    height: 50rem;
    margin-top: 10rem;
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
}

.container-item{
    border: 1px solid red;
}
.container-item.title{
    font-size: 3rem;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
}

.container-item.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.enter-button{
    font-family: 'VT323', monospace;
    cursor: pointer;
    padding: 5px 30px;
    border-radius: 15px;
    font-size: 2rem;
}

.container-item.stats{
    display: grid;
    grid-template-columns: 1fr 35%;
    border-radius: 1px solid black;
}

.char-details{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.char-details-text{
    display: flex;
    align-items: center;
    font-size: 3rem;
}

#character-name-text,
#character-health-text,
#character-hunger-text{
    margin-right: 40px;
}

textarea{
    resize: none;
}

@media (max-width: 600px){
    .char-creation-container{
    max-width: 30rem;
    max-height: 30rem;
    }
}

@media (max-width: 400px){
    .char-creation-container{
        max-width: 20rem;
        max-height: 20rem;
    }
}
